body{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #d0dce8 0%, #d1c7e3 100%);

}

.col-md-6{
    margin-top: 150px !important;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #d0dce8 0%, #d1c7e3 100%);
    border: 5px solid black !important;
}
input[type=button]{
    width: 100%;
    background-color: rgb(43, 43, 198);
    color: white;
    font-weight: bolder;
    border: 2px solid black;
}
input[type=text]{
    width: 100%;
}
h1{
    font-weight: bolder !important;
    margin-top: 15px;
}